body {
	background-color: white;
	font-family: 'Roboto', sans-serif;  
	font-weight: lighter;	
		-webkit-font-smoothing: antialiased;
}

div {
	/*border: 1px solid Chocolate;*/
}

section {
	/*border: 1px solid DarkGreen;*/
}


@-webkit-keyframes bouncing-arrow {
  0%, 100% { margin-top: 0px; }
  50% { margin-bottom: 2em; }
}


@-moz-keyframes bouncing-arrow {
  0%, 100% { margin-top: 0px; }
  50% { margin-bottom: 2em; }
}


@-o-keyframes bouncing-arrow {
  0%, 100% { margin-top: 0px; }
  50% { margin-bottom: 2em; }
}


@keyframes bouncing-arrow {
  0%, 100% { margin-top: 0px; }
  50% { margin-bottom: 2em; }
}

.top-navigation {
    background-color: #fff;
    height: 70px;
    position:fixed;
    width: 100%;
}


.content {
	width: 970px;
	text-align: center;
    margin: 0 auto;
    padding: 0px 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.content-spacer {
	margin-bottom: 2em;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 600;
    font-size: 16px; 
}

img.logo {	
	height: 70px;
}

.top-navigation .links {
	float: right;
	color: #838994; 
	letter-spacing: 0.03em;
}

.top-navigation .links li {	
	padding: 10px 0px 0px 10px;
	display: inline-block;
	margin: 1em;

	-webkit-transition: color 1s ease;
	moz-transition: color 1s ease;
	o-transition: color 1s ease;
	transition: color 1s ease;
}

.links :hover {
	color: #333333;
	cursor: pointer;
/*	-webkit-animation: fontbulger 1s infinite;
	-moz-animation: fontbulger 1s infinite;
	-o-animation: fontbulger 1s infinite;
	animation: fontbulger 1s infinite;*/
}

br {
	clear: both;
}

.introduction, .whatis {
	font-family: 'Roboto', sans-serif;
	min-height:600px;
	color:white;
	background: url("../images/first-background.jpg") center bottom no-repeat;
	padding: 200px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0 auto;
    text-align: center;
}

.whatis {
	background: url("../images/buy-now-bg.jpg") center bottom no-repeat;
}

.introduction h1 {
	margin: 1em;
	font-size: 3em;
	font-letter-spacing: 2em;
	font-weight: 20;
}

.introduction h3 {
	margin: 1em 1em 2em 1em;
	font-size: 2em;
	font-letter-spacing: 2em;
	font-weight: 20;
}

.button {
	color: white;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	background-color: #f15a29;
	float: right;
	margin-right: 20px;
	font-size: 1em;
}

.half {
	width: 49%;
	display: inline;
	float: left;
}
.watch {
	margin-top: 6px;
	vertical-align: middle;
}

.watch span {
	float:left;
	margin-left: 20px;
}
.lift {
	padding-bottom: 4px;
}

.downarrow {
	/*-webkit-animation: bouncing-arrow 1s ease infinite;*/
	-moz-animation: bouncing-arrow 1s ease infinite;
	-o-animation: bouncing-arrow 1s ease infinite;
	animation: bouncing-arrow 1s ease infinite;
	padding-top: 40px;
}

.cases h1 {
	font-size: 3em;
	padding: 2em 0 1em 0;
}

.cases h2 {
	font-size: 1.5em;
	font-weight: normal;
	padding: 1em 0 1em 0;
}

.cases p {
	font-size: 1.3em;
}

.cases {
	margin-bottom: 50px;
}

.devices img {
	height: 127px;
	width: 127px;
	margin: 0 auto;
}

.cases .devices {
    width: 33%;
    display: inline-block;
    /* styles to assist with debugging */
    /*border: 1px solid black;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 4em;
}

.bottom-links {
	padding-top: 3em;
}
.links-list {
	vertical-align: top;
	display: inline-block;
	width: 32%;
	text-align: left;
}

.links-list h4 {
	font-weight: bolder;
	padding-bottom: 1em;
}

.links-list li {
	color: gray;
	line-height: 1.5em;
	font-weight: lighter;
}

footer {
	padding-top: 1em;
}

footer h4 {
	font-weight: bolder;
	margin: 1em auto .25em auto;
}

hr {
	clear:both;
	margin: 2em auto;
	width: 60%;
	color: #222222;	
}

footer .trademark {
	padding-top: 0.25em;
	font-weight: lighter;
	color: LightGray;
	font-size: 0.8em;
}

.icons li {
	margin: 1em 2em;
	display: inline-block;
	padding: 8px 7px 4px 7px;	
	width: 20px;
	height: 20px;
	border: solid 1px;
	border-radius: 50%;
	border-color: LightGray;
}

.icons > .twitter {
	color: #55acee;
}

.icons > .facebook {
	color: #4c66a4;
}

.icons > .instagram {
	color: #3f729b;
}

